<app-admin-menu></app-admin-menu>
<div class="container mt-5">

<h2 class="text-success mt-2">Available Pizzas</h2>
<h6 class="alert alert-danger mt-2" *ngIf="result">{{result.message | json}}</h6>
<h6 class="alert alert-danger mt-2" *ngIf="sresult">{{sresult.successMessage | json}}</h6>

<div *ngIf="pizza!=0; else elseblock">
    <table class="table table-bordered mt-3">
        <thead><tr class="bg-warning text-white">
            <th>Pizza Id</th>
            <th>Pizza Name</th>
            <th>Pizza Type</th>
            <th>Pizza Cost</th>
            <th>Available Quantity</th>
            <th>Pizza Description</th>
            <th>Update</th>
            <th>Delete</th>
             </tr>
        </thead>
         <tbody>
            <tr *ngFor="let p of pizza">
               <td>{{p.pizzaId}}</td>
               <td>{{p.pizzaName}}</td>
               <td>{{p.pizzaType}}</td>
               <td>{{p.pizzaCost | currency:'INR'}}</td>
               <td>{{p.availableQuantity}}</td>
               <td>{{p.pizzaDescription}}</td>
               <td><button class="btn btn-primary" (click)="updateCost(p.pizzaId)">Update</button></td>
               <td><button class="btn btn-danger" (click)="deletePizza(p.pizzaId)">Delete</button></td>
              </tr>
        </tbody>
      
      </table>
</div>

<ng-template #elseblock>
    <h4 class="btn-danger text-white">No Records Found</h4>
</ng-template>
</div>