<h1 align="center">Pizza Management System</h1>
<br/>
<br/>

<form class="reset-form" >
  <form class="text-center border border-light p-5">
<h3>Reset Password</h3>
<br>
<h6 class="alert alert-success" *ngIf="smsg">{{smsg.successMessage | json}}</h6>
<h6 class="alert alert-danger" *ngIf="msg">{{msg.message | json}}</h6>

<form (submit)="resetAdminPassword(resetForm)" #resetForm="ngForm">
  
    <div align="left">
      <div *ngIf="adminId.invalid && adminId.touched">
        <small class="text-danger" *ngIf="adminId.errors!['required']">Enter Admin Id</small>
        <small class="text-danger" *ngIf="adminId.errors!['pattern']">Admin Id must be 5 digits</small>
    </div> 
  <input style="font-size: 18pt; height: 40px;" #adminId="ngModel" [class.is-invalid]="adminId.invalid && adminId.touched" required pattern="^\d{5}$"  type="number" name=adminId [(ngModel)]="reset.adminId" id="defaultResetFormId" class="form-control mb-4" placeholder="Admin Id">
</div>
<div align="left">
  <div *ngIf="adminPassword.invalid && adminPassword.touched">
    <small class="text-danger" *ngIf="adminPassword.errors!['required']">Enter Password</small>
    <small class="text-danger" *ngIf="adminPassword.errors!['minlength']"> Password must have minimum 5 characters</small>
    <small class="text-danger" *ngIf="adminPassword.errors!['maxlength']"> Password must have maximum 12 characters</small>
</div>
  <input [(ngModel)]="reset.adminPassword" style="font-size: 18pt; height: 40px;" type="password"  #adminPassword="ngModel" [class.is-invalid]="adminPassword.invalid && adminPassword.touched" required minlength="5" maxlength="12"  name="adminPassword" id="defaultResetFormPassword" class="form-control mb-4" placeholder="Password">
</div>
<div>
<button [disabled]="resetForm.invalid" class="btn btn-primary mt-2" type="submit">Submit</button> &nbsp;
<button class="btn btn-danger mt-2" type="submit" (click)="resetForm1(resetForm)">Cancel</button>
</div>
<br>
<div>
<button class="btn btn-link" (click)="adminLoginBtn()" >Login</button>
</div>
</form>
</form>
</form>
